html {
   font-family: 'Work Sans', sans-serif;
   color: white;      
}

body {
   padding: 0;
   margin: 0;
   height: auto;
   background-color: #021C1E;
}

.header {   
   font-size: 1.25em;
   text-align: center;
   background-color: #021C1E;
   margin: 0;
   height: 25vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.header-padding-left {
   padding-left: 0.5em;
}   

p {
   text-align: justify;
   margin: 0;
   padding: 0.3em 2em 0.3em 2em;
}

#data {
   background-color: #004445;   
   padding: 1em 0 1em 0;
   height: auto;
}

.align_left {
   position: relative;
   left: 2em;   
}

form {
   padding: 0 0 1.5em 0;
}

#result {
   padding: 0em 1.1em 0em 1.1em;
   width: 90vw;
}

label {
   padding: 0em 1.1em 0em 1.1em;
   width: 90vw;
   display: inline-block;
}

input[type=number] {
   background-color: #004445;
   color: rgb(88, 166, 255);
   width: 15%;
   padding: 12px;   
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
   resize: vertical;
   margin: 10px 0 10px 0;
   font-family: 'Work Sans', sans-serif;
}

.button {
   background-color: rgb(33, 38, 45);
   border: none;
   border-radius: 4px;
   color: rgb(88, 166, 255);
   padding: 0.75em 1.875em 0.75em 1.875em;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   font-family: 'Work Sans', sans-serif;
}

.footer {   
   height: 15vh;
   text-align: center;
   background-color: #2C7873;
   font-size: small;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.footer h2 {
   padding: 1em 0 0 0;
}

.footer h2, a {
   margin: 0;   
   color: white;
}

@media (max-width:900px) {
   .header {
      font-size: 1em;
   }   
}