:root {
   /*--general-font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;*/   
   --general-font-family: 'Nunito Sans', sans-serif;
   --general-font-color: #0F1F38;
   --general-font-family-output: 'Courier New', Courier, monospace;
   --general-background-color: #181818;
   --background-color-data-container: #f2f2f2;
   --general-font-size: 1.0em;
   --buttons-font-size: 1.0em;
   --footer-font-size: 0.8em;
}

* {
   box-sizing: border-box;
 }

html {
   font-family: var(--general-font-family);
   color: var(--general-font-color);   
}

body {
   padding: 0;
   margin: 0;
}

p {
   margin-top: 0;
   text-align: justify;
}

.general-content {
   height: 100vh;
}

.header {   
   font-size: var(--general-font-size);
   text-align: center;
   margin: 0;
   height: 20%;
   display: flex;
   align-items: center;
   justify-content: center;
   border-bottom: 3px solid var(--general-font-color);
}

.header-padding-left {
   padding-left: 0em;
}

.data-container {
   padding: 30px;
   margin: 30px;
   /* boxshadow from neumorphism.io */
   border-radius: 50px;
   background: #f2f2f2;
   box-shadow: -30px 30px 60px #dadada,
                30px -30px 60px #ffffff;   
}

.lblresult {
   padding: 0em 1.1em 0em 1.1em;
   width: 90vw;
   display: inline-block;   
}

label {
   padding: 12px 12px 12px 0;
   display: inline-block;
 }

input[type=number], textarea {
   font-family: var(--general-font-family);   
   color: var(--general-font-color);
   width: 100%;
   padding: 12px;
   border: 1px solid var(--general-font-color);
   border-radius: 4px;
   resize: vertical;
}

textarea {
   font-family: var(--general-font-family-output);
   font-size: var(--general-font-size);
}

input[type=submit], input[type=reset] {
   color: var(--general-font-color);
   background-color: rgb(217, 217, 217);
   padding: 12px 20px;
   margin: 10px 0 10px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-weight: bold;  
 }

input[type=submit]:hover, input[type=reset]:hover {
   color: white;
   background-color: var(--general-background-color);
}

.col-15 {
   float: left;
   width: 15%;
   margin-top: 6px;
}
 
 .col-85 {
   float: left;
   width: 85%;
   margin-top: 6px;
}

.col-100 {
   float: left;
   width: 100%;
   margin-top: 6px;
} 

.row:after {
   content: "";
   display: table;
   clear: both;   
}

.footer {   
   height: 15%;
   text-align: center;   
   font-size: var(--footer-font-size);
   display: flex;
   justify-content: center;
   flex-direction: column;   
}

.footer h2 {
   padding: 0.5em 0 0 0;   
}

.footer h2, a {
   margin: 0;
   color: var(--general-font-color);
}

@media screen and (min-width: 768px) {
   :root {
      --general-font-size: 1.0em;
      --buttons-font-size: 0.8em;
      --footer-font-size: 0.8em;
   }
}

@media screen and (max-width: 600px) {
   .col-15, .col-85, input[type=submit], input[type=reset] {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 0px;
   }

   .col-15, .col-85 {
      margin-top: 0px;      
   }

   .col-100 {
      margin-top: 10px;
   }
 }